{% extends 'base.html.twig' %}

{% block body %}
  {{ parent() }}
  <div class="content-wrapper card"> {# para ponerlo a la par de la plantilla #}
  <div class="containers">
        <div class="p-3 mb-2 bg-color text-white ">
    <li class="nav-item" >
      <a class="nav-link" data-widget="pushmenu" href="#"><img src="{{asset('vendor/imagenes/menu.png')}}" title="menu" alt="new_user" class="ico"></a>
    </li>
      <div class="titulo">
        <center><h1>Edición de Grupo</h1></center>
      </div>
      </div>
    <div class="card-body">

      {{form_start(edit_form, { 'attr' : {'role' : 'form' }})}}
               <h3 class="card-title">Datos De Grupo</h3>
               <br>
               <!-- text input -->
               <div class="row">
                  <div class="col-sm-3 col-md-6 col-lg-6">
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-id-card"></i></span>
                      </div>
                      {{ form_widget(edit_form.tipo, { 'attr' : {'type' : 'text','onkeypress' : 'return soloLetras(event)', 'class': 'form-control', 'placeholder' : 'Tipo de curso', 'onpaste' : 'return false'}})}}
                    </div>
                   </div>
                   <div class="col-sm-3 col-md-4 col-lg-6">
                     <div class="bootstrap-timepicker">

                     <div class="input-group-append">
                        <label for="example-time-input" class="col-3 col-form-label">Hora Inico</label>
                       <span class="input-group-text"><i class="fa fa-clock-o"></i></span>

                         {{ form_widget(edit_form.horario, { 'attr' : {'type' : 'time', 'value' : '13:45:00', 'id' : 'example-time-input', 'class' : 'form-control'}})}}
                         <!--<input type="text" class="form-control" data-inputmask="'mask': ['9999-999999-999-9', '99999999-9' ]" data-mask placeholder="DUI, menor de edad NIT">-->

             <!-- <div class="md-form">
  <input type="text" id="manual-operations-input" class="form-control" placeholder="Now">
  <label for="form1" class="">Check the minutes</label>
</div>

              <div class="md-form">
  <input type="text" class="form-control timepicker" placeholder="Now">
  <label for="form1" class="">Check the minutes</label>
</div>-->
                   </div>
                   <!-- /.input group -->
                 </div>
                 </div>
               </div>
               <div class="row">
                 <div class="col-sm-3 col-md-4 col-lg-6">
                   <div class="input-group mb-3">
                     <div class="input-group-prepend">
                       <span class="input-group-text"><i class="fa fa-spinner"></i></span>
                     </div>
                       {{ form_widget(edit_form.nivel, { 'attr' : {'type' : 'text','onkeypress' : 'return soloLetras(event)', 'class': 'form-control', 'placeholder' : 'Nivel (Basico, Avanzado, Intermedio)', 'onpaste' : 'return false'}})}}
                    <!-- <input type="text" class="form-control" data-inputmask="'alias': 'dd/mm/yyyy'" data-mask placeholder="Fecha de nacimientos">-->
                   </div>
                   </div>
                   <div class="col-sm-3 col-md-4 col-lg-6">
                     <div class="bootstrap-timepicker">
                       <div class="input-group-append">
                          <label for="example-time-input" class="col-3 col-form-label">Hora Fin</label>
                         <span class="input-group-text"><i class="fa fa-clock-o"></i></span>

                           {{ form_widget(edit_form.horarioFin, { 'attr' : {'type' : 'time', 'value' : '13:45:00', 'id' : 'example-time-input', 'class' : 'form-control'}})}}
                           <!--<input type="text" class="form-control" data-inputmask="'mask': ['9999-999999-999-9', '99999999-9' ]" data-mask placeholder="DUI, menor de edad NIT">-->
                     </div>
                   <!-- /.input group -->
                 </div>
                 </div>
               </div>
       <div class="row">
          <div class="col-sm-3 col-md-4 col-lg-6">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-group"></i></span>
              </div>
              {{ form_widget(edit_form.salon, { 'attr' : {'type' : 'submit', 'class': 'form-control', 'placeholder' : 'Salon'}})}}
              <!--<input type="email" class="form-control" placeholder="Email">-->
            </div>
          </div>
          <div class="col-sm-3  col-md-4 col-lg-6">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-user-circle-o"></i></span>
              </div>
                {{ form_widget(edit_form.coach, { 'attr' : {'class': 'form-control'}})}}
            </div>
          </div>
        </div>

    </div>
  </div>
</div>
<div class="content-wrapper card"> {# para ponerlo a la par de la plantilla #}
<div class="containers">

      <div class="card-body">
        <div class="row justify-content-between">
          <div class="col-sm-3 col-md-4 col-lg-6">
            <h1 class="card-title">Modalidad</h1>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-maxcdn"></i></span>
              </div>
                {{ form_widget(edit_form.modalidad, { 'attr' : {'type' : 'text','onkeypress' : 'return soloLetras(event)', 'class': 'form-control', 'placeholder' : 'Basico', 'onpaste' : 'return false'}})}}
             <!-- <input type="text" class="form-control" data-inputmask="'alias': 'dd/mm/yyyy'" data-mask placeholder="Fecha de nacimientos">-->
            </div>
            </div>
          </div>
        </div>
          </div>

</div>
<div class="content-wrapper card">
  <div class="row justify-content-between">
    <div class="col-md-2 offset-md-3">
        <td>
          <button type="submit" class="btn btn-block btn-primary fa fa-check">&nbsp; Aceptar</button>
        </td>
      </div>

      <div class="col-md-2 ">
        <td>
          <a href="{{ path('grupo_show',{ 'id': grupo.id }) }}"><button type="button" class="btn btn-block btn-info fa fa-eye">&nbsp;Cambios</button></a>
        </td>
      </div>

        <div class="col-md-2 ">
        <td>
          <a href="{{  path('evaluacion_show', { 'id': grupo.id }) }}"><button type="button" class="btn btn-block btn-info fa fa-edit">evaluar</button></a>
        </td>
      </div>


        <div class="col-md-2 ">
          <td>
            <a href="{{ path('grupo_index') }}"><button type="button" class="btn btn-block btn-danger fa fa-close">&nbsp; Cancelar</button></a>
          </td>
        </div>
    </div>
  </div>
              {{form_end(edit_form)}} 
{% endblock %}
