{% extends 'base.html.twig' %}

{% block body %}
<link rel="stylesheet" href="{{ asset('vendor/css/adminlte.min.css')}}">

<div class="content-wrapper card"> {# para ponerlo a la par de la plantilla #}
<div class="containers">

<div class="row">
<div class="col-12">
  <div  class=" p-3 mb-2 bg-color text-white" >
    <li class="nav-item" >
      <a class="nav-link" data-widget="pushmenu" href="#"><img src="{{asset('vendor/imagenes/menu.png')}}" title="menu" alt="new_user" class="ico"></a>
    </li>
            <h3 class=" text-center titulo ">Listado de Grupos</h3>
             <div class="col-md-1  offset-md-11">
               <a href="{{ path('grupo_new') }}"><img src="{{asset('vendor/imagenes/new_group.png')}}" title="nuevo grupo" alt="new_user" class="iconew"></a>
              {# 
                <a href="{{ path('grupo_reportes') }}"><img src="{{asset('vendor/imagenes/new_group.png')}}" title="generar reportes" alt="new_user" class="iconew"></a>
              #}
             </div>
           </div>
           <!-- /.card-header -->
           <div class="card-body table-responsive p-0">
           Total : {{pagination.getTotalItemCount}}
           
           {# boton para generar reportes, esto es una prueba#}
           <a class="btn btn-success" href="{{ path('grupo_reportes') }}" >generar reporte pdf</a>
           <a class="btn btn-success" href="{{ path('grupo_reportes') }}" >reporte asistencia pdf</a>

             <table class="table table-hover table-bordered">
               <thead>
                   <tr>
                     <th>Tipo</th>
                     <th>Nivel</th>
                     <th>Hora Inicio</th>
                     <th>Hora Fin</th>
                     <th>Salon</th>
                     {#<th>Docente Asignado</th>#}
                     <th>Docente Asignado</th>
                     <th>Acciones</th>

                    {#
                     <th>{{ knp_pagination_sortable(pagination, 'Tipo', 'g.tipo') }}</th>
                     <th>{{ knp_pagination_sortable(pagination, 'Nivel', 'g.nivel') }}</th>
                     <th>{{ knp_pagination_sortable(pagination, 'Horario', 'g.horario') }}</th>
                     <th>{{ knp_pagination_sortable(pagination, 'Horario Fin', 'g.horarioFin') }}</th>
                     <th>{{ knp_pagination_sortable(pagination, 'Salon', 'g.salon') }}</th>
                     <th>{{ knp_pagination_sortable(pagination, 'Docente', 'g.iddocente') }}</th>
                     #}
                   </tr>
               </thead>
               <tbody>
               {% for grupo in pagination %}
                          <tr>
                             <td>{{ grupo.tipo }}</td>
                             <td>{{ grupo.nivel }}</td>
                             <td>{% if grupo.horario %}{{ grupo.horario|date(' H:i:s') }}{% endif %}</td>
                             <td>{% if grupo.horarioFin %}{{ grupo.horarioFin|date(' H:i:s') }}{% endif %}</td>
                             <td>{{ grupo.salon }}</td>
                             {#<td>{{ grupo.iddocente}}#}
                             <td>{{ grupo.coach}}
                               <td>
                                  <a href="{{ path('grupo_show', { 'id': grupo.id }) }}" > <img src="{{asset('vendor/imagenes/ver.ico')}}" title="Ver" alt="Ver" class="ico"></a>
                                  <a href="{{ path('grupo_edit', { 'id': grupo.id }) }}" > <img src="{{asset('vendor/imagenes/edit.ico')}}" title="Editar" alt="Editar" class="ico"></a>
                                  <a href="{{ path('grupo_listadoGrupo', { 'id': grupo.id }) }}"><img src="{{asset('vendor/imagenes/list-user.png')}}" title="Lista de Alumnos" alt="Ver" class="ico"> </a>
                                  {#<a href="{{ path('evaluacion_new') }}" > <img src="{{asset('vendor/imagenes/exam.png')}}" alt="examen" class="ico"></a>#}
                                  <a href="{{ path('evaluacion_crear',{'id':grupo.id}) }}" > <img src="{{asset('vendor/imagenes/exam.png')}}"  title="Crear Evaluaciones" alt="examen" class="ico"></a>
                                   <a href="{{ path('notas_alumnos',{'id':grupo.id}) }}" > <img src="{{asset('vendor/imagenes/nt.png')}}" title="ver notas" alt="Editar" class="ico"></a>
                                   <a href="{{ path('asistencia_listadoAsistencia',{'id':grupo.id}) }}" > <img src="{{asset('vendor/imagenes/calendar.png')}}" title="Asistencia" alt="Editar" class="ico"></a>
                               </td>
                         </tr>
               {% endfor %}
               </tbody>
             </table>
             <div class="navigation">
                {{ knp_pagination_render(pagination) }}
             </div>
       </div>
     </div><!-- /.row -->
    </div><!-- /.container-fluid -->

  </div>
</div>
{% endblock %}
