
<head>
  <link rel="stylesheet" href="{{ path ~ asset('vendor/bootstrap/css/bootstrap.min.css')}}">
  <link rel="stylesheet" href="{{ path ~ asset('vendor/bootstrap/css/plantillaPdf.css')}}">
</head>

<div class="row">

  <div class="col-12">
    <header>
      <h1>Listado de grupos bf</h1>
    </header>

    <div  class=" p-3 mb-2 bg-color text-white" >
      <li class="nav-item" ></li>
    </div>

    <div class="card-body table-responsive p-0">

      <table class="table table-hover table-bordered">

        <thead>

          <tr>

            <th>Tipo</th>
            <th>Nivel</th>
            <th>Hora Inicio</th>
            <th>Hora Fin</th>
            <th>Salon</th>
            {#<th>Docente Asignado</th>#}
            <th>Docente Asignado</th>
          </tr>
        </thead>

        <tbody>
          {% for grupo in grupos %}

          <tr>
            <td>{{ grupo.tipo }}</td>
            <td>{{ grupo.nivel }}</td>
            <td>{% if grupo.horario %}{{ grupo.horario|date(' H:i:s') }}{% endif %}</td>
            <td>{% if grupo.horarioFin %}{{ grupo.horarioFin|date(' H:i:s') }}{% endif %}</td>
            <td>{{ grupo.salon }}</td>
            {#<td>{{ grupo.iddocente}}#}
            <td>{{ grupo.coach}}</td>
                
          </tr>
          {% endfor %}
        </tbody>
      </table>
             
    </div>


  </div>
</div>

