{% extends 'base.html.twig' %}

{% block body %}

<div class="content-wrapper card"> {# para ponerlo a la par de la plantilla #}
<div class="containers">
  <div class="row">
     <div class="col-12">
   <div class="bg-color p-3 mb-2 text-white" >
     <li class="nav-item" >
      <a class="nav-link" data-widget="pushmenu" href="#"><img src="{{asset('vendor/imagenes/menu.png')}}" title="menu" alt="new_user" class="ico"></a>
    </li>
    <h1 class="text-center titulo">Grupo</h1>
    </div>
    <ul class="list-group">
      <li class="list-group-item p-3 mb-2 bg-info text-white"> <b> INFORMACION DEL GRUPO</b></li>
  <li class="list-group-item">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>ID:</b> &nbsp;&nbsp;{{ grupo.id }}</li>
  <li class="list-group-item">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>TIPO:</b>        &nbsp;&nbsp;{{ grupo.tipo }}</li>
    <li class="list-group-item">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>NIVEL:</b> &nbsp;&nbsp;{{ grupo.nivel }} </li>
    <li class="list-group-item"><b>HORA INICIO:</b> &nbsp;&nbsp;{% if grupo.horario %}{{ grupo.horario|date('H:i:s') }}{% endif %}</li>
    <li class="list-group-item">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>HORA FIN:</b> &nbsp;&nbsp;{% if grupo.horarioFin %}{{ grupo.horarioFin|date('H:i:s') }}{% endif %}</li>
  <li class="list-group-item">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>SALON:</b> &nbsp;&nbsp;{{ grupo.salon }}</li>
  <li class="list-group-item">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>MODALIDAD:</b> &nbsp;&nbsp;{{ grupo.modalidad }}</li>
  <li class="list-group-item p-3 mb-2 bg-info text-white"> <b> INFORMACION DEL DOCENTE </b></li>
  <li class="list-group-item">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>NOMBRE:</b> &nbsp;&nbsp; {{ grupo.coach}}</li>
</ul>

              {% if app.user.role == 'ROLE_ADMIN' %}
                 <div class="row justify-content-between">
                       <div class="col-md-2 offset-md-6">
      <td>
        <a href="{{ path('grupo_index') }}"><button type="submit" class="btn btn-block btn-primary fa fa-check">&nbsp; Aceptar</button></a>
      </td>
    </div>
    <div class="col-md-2 ">
      <td>
      <a href="{{ path('grupo_edit', { 'id': grupo.id }) }} "  class="btn btn-block btn-info fa fa-edit" >&nbsp; Editar</a>
    </td>
    </div>
    <div class="col-md-2">
      {{ form_start(delete_form) }}
          <button type="submit"  class="btn btn-block btn-danger fa fa-close">&nbsp; Eliminar</button>
      {{ form_end(delete_form) }}
    </div>
    <br><br>
    </div>
              {% elseif app.user.role == 'ROLE_USER' %}
      <div class="col-md-2 offset-md-9">
      <td>
        <br><br><br><br>
        <a href="{{ path('grupo_misgrupos') }}"><button type="submit" class="btn btn-block btn-primary fa fa-check">&nbsp; Aceptar</button></a>
      </td>
      <br><br>
    </div>
    {% endif %}
  </div>
  </div>
</div>
</div>
</div>
{% endblock %}