{% extends 'base.html.twig' %}

{% block body %}
<div class="content-wrapper card"> {# para ponerlo a la par de la plantilla #}
<div class="containers">
    <div class="row">
       <div class="col-12">
           <div class="bg-color p-3 mb-2 text-white" >
                     <li class="nav-item" >
      <a class="nav-link" data-widget="pushmenu" href="#"><img src="{{asset('vendor/imagenes/menu.png')}}" title="menu" alt="new_user" class="ico"></a>
    </li>
             <center><h3 class="titulo">  Listado de Inscripciones </h3></center>
             <div class="col-md-1  offset-md-11">
               <a href="{{ path('estudiante_new') }}"><img src="{{asset('vendor/imagenes/users-add-user-icon.png')}}" alt="new_user" class="iconew"></a>
             </div>
            </div>

           <!-- /.card-header -->
           <div class="card-body table-responsive p-0">
             <table class="table table-hover table-bordered">
               <thead>
                   <tr>
                       <th>Nombre</th>
                       <th>Edad</th>
                       <th>Dui</th>
                       <th>Telefono</th>
                       <th>Email</th>
                       <th>Curso</th>
                       <th>Nivel</th>
                       <th>Salon</th>
                       <th>Horario</th>
                       <th>Actions</th>
                   </tr>
               </thead>
               <tbody>
               {% for estudiante in pagination %}
                   <tr>
                       <td>{{ estudiante.nombre }} <br></td>
                       <td>{{ estudiante.edad }} <br></td>
                       <td>{{ estudiante.dui }} <br></td>
                       <td>{{ estudiante.telefono }} <br></td>
                       <td>{{ estudiante.email }} <br></td>
                       <td>
                           {% for grupo in estudiante.grupos %}
                           {{ grupo.tipo}}
                           <br>
                           {% endfor %}
                           </td>
                       <td>
                           {% for grupo in estudiante.grupos %}
                           {{ grupo.Nivel}}
                           <br>
                           {% endfor %}
                           </td>
                       <td>
                           {% for grupo in estudiante.grupos %}
                           {{ grupo.salon}}
                           <br>
                           {% endfor %}
                           </td>
                        <td>
                           {% for grupo in estudiante.grupos %}
                           {{ grupo.horario|date(" H:i:s")}}
                           <br>
                           {% endfor %}
                           </td>
                           <td>
                                    <a href="{{ path('estudiante_show', { 'id': estudiante.id }) }}" > <img src="{{asset('vendor/imagenes/ver.ico')}}" alt="Ver" class="ico"></a>
                                    <a href="{{ path('estudiante_edit', { 'id': estudiante.id }) }}" > <img src="{{asset('vendor/imagenes/edit.ico')}}" alt="Editar" class="ico"></a>
                           </td>
                   </tr>
               {% endfor %}
               </tbody>
             </table>
             </div>
             <br>
             <hr>
             <div class="navigation">
                {{ knp_pagination_render(pagination) }}
             </div>
           <!-- /.card-body -->
         </div>
         <!-- /.card -->
       </div>
     </div><!-- /.row -->
   </div><!-- /.container-fluid -->


  </div> {# para ponerlo a la par de la plantilla #}
{% endblock %}
