{% extends 'base.html.twig' %}

{% block body %}
<div class="content-wrapper card"> {# para ponerlo a la par de la plantilla #}
  <div class="containers">
    <div class="row">
      <div class="col-12">
        <div class="bg-color p-3 mb-2 text-white" >
          <li class="nav-item" >
            <a class="nav-link" data-widget="pushmenu" href="#"><img src="{{asset('vendor/imagenes/menu.png')}}" title="menu" alt="new_user" class="ico"></a>
          </li>
          <center><h3 class="titulo">Alumnos inscritos en el grupo </h3></center>
      </div>

        <!-- /.card-header -->
        <div class="card-body table-responsive p-0">
            <div class="row">
                <a href="#" class="btn btn-info"> Asistencia</a>
                <a href="" class="btn btn-info"><i class='fa fa-tasks'></i> Calificaciones</a>
                <a href="{{ path('evaluacion_crear',{'id':id}) }}" class="btn btn-info"><i class='fa fa-th-large'></i> evaluaciones</a>
              <!--
              <div class="btn-group">
                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                  <i class='fa fa-th-list'></i> Listas <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Asistencia</a></li>
                  <li><a href="#">Comportamiento</a></li>
                  <li><a href="#">Calificaciones</a></li>
                </ul>
              -->
              </div>
            
          <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Telefono</th>
                    <th>Email</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
            {% for estudiante in pagination %}
                <tr>
                    <td>{{ estudiante.nombre }} <br></td>
                    <td>{{ estudiante.telefono }} <br></td>
                    <td>{{ estudiante.email }} <br></td>
                        <td>
                                <a href="{{ path('estudiante_show', { 'id': estudiante.id }) }}" > <img src="{{asset('vendor/imagenes/ver.ico')}}" alt="Ver" title="Ver" class="ico"></a>
                                <a href="{{ path('estudiante_edit', { 'id': estudiante.id }) }}" > <img src="{{asset('vendor/imagenes/edit.ico')}}" alt="Editar" title="Editar"class="ico"></a>
                                <a href="{{ path('nota_new',{'id':id, 'idEstudiante':estudiante.id}) }}" > <img src="{{asset('vendor/imagenes/nt.png')}}"  alt="Agregar notas" title="Agregar notas"class="ico"></a> <!--boton para agregar notas-->
                        </td>
                </tr>
            {% endfor %}
            </tbody>
          </table>
          </div>
          <br>
          <hr>
          <div class="navigation">
            {{ knp_pagination_render(pagination) }}
          </div>
           <!-- /.card-body -->
         </div>
         <!-- /.card -->
       </div>
     </div><!-- /.row -->
   </div><!-- /.container-fluid -->


</div> {# para ponerlo a la par de la plantilla #}
{% endblock %}
