{% extends 'base.html.twig' %}

{% block stylesheets %}



<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

<script type="text/javascript">
  var asist;

  function obtenerAsistencia(id){
    console.log('asistencia-'+id);
    this.asist=document.getElementById('asistencia-'+id).value
    console.log(asist);
    return asist;
  }
  
  function realizarAsistencia(idGrupo,idEst){

    var idEstudiante=idEst;

    console.log(idEstudiante);
    console.log(this.asist);
  
    for (var i = 0; i < this.asist.length; i += 1 )
    {
       var asis=this.asist.charAt(2);
  
    }
    console.log(asis);
  
    $.ajax({
        url:"{{ path('asistencia_guardarAsistencia') }}",
        type: 'POST',
        dataType:'JSON',
        data:{
              'id': idEstudiante,
              'idGrupo': idGrupo,
              'asistencia': asis,
              'month':document.getElementById('fecha').value,
        },
    }).done(function(){
      
    }).fail(function(){
      
    }).always(function(){
      alertify.success("guardado");
    });
  
  }
  </script>



{% endblock %}

{% block body %}
<div class="content-wrapper card"> {# para ponerlo a la par de la plantilla #}
  <div class="containers">
    <div class="row">
      <div class="col-12">
        <div class="bg-color p-3 mb-2 text-white" >
          <li class="nav-item" >
            <a class="nav-link" data-widget="pushmenu" href="#"><img src="{{asset('vendor/imagenes/menu.png')}}" title="menu" alt="new_user" class="ico"></a>
          </li>
          <center><h3 class="titulo">Asistencia </h3></center>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-4 col-xs-4 form-group">
        <div class="form-group">
        <label for="fecha">Fecha</label>
        <input type="date" id="fecha" name="fecha" class="form-control" placeholder="Fecha ...">
        </div>
        </div>

        <!-- /.card-header -->
        <div class="card-body table-responsive p-0">
            
            
          <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Asistencia</th>
                    <th>Accion</th>
                </tr>
            </thead>
            <tbody>
            {% for estudiante in pagination %}
                <tr>
                    <td>{{ estudiante.nombre }} <br></td>
                    <td> <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 form-group">
                        <div class="form-group">
                            <select id="asistencia-{{ estudiante.id }}" name="asistencia" class="form-control" onchange="obtenerAsistencia('{{ estudiante.id }}')">
                                    <option value="{{ estudiante.id }}-A" >Asistió</option>
                                    <option value="{{ estudiante.id }}-T" >Tarde</option>
                                    <option value="{{ estudiante.id }}-F">Falta</option>
                            </select>
                            </div>
                        </div>
                    <br>
                    </td>
                    <td><a class="btn btn-success" onclick="realizarAsistencia('{{id}}','{{estudiante.id}}')">Guardar</a></td>
                    
                </tr>
            {% endfor %}
            </tbody>
          </table>
          </div>
          <br>
          <hr>
          <div class="navigation">
            {{ knp_pagination_render(pagination) }}
          </div>
           <!-- /.card-body -->
         </div>
         <!-- /.card -->
       </div>
     </div><!-- /.row -->
   </div><!-- /.container-fluid -->


</div> {# para ponerlo a la par de la plantilla #}
{% endblock %}