<!DOCTYPE html>
<!--Plantilla para utlizarlo en el login -->
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            	<link rel="stylesheet" href="{{asset('vendor/css/main.css')}}">
              <link rel="stylesheet" href="{{asset('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')}}">
              <link rel="stylesheet" href="{{ asset('vendor/css/bootstrap.min.css')}}" />
              <link rel="stylesheet" href="{{asset('vendor/css/mystyle.css')}}">

        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
      <div class="">

      </div>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="{{asset('vendor/js/jquery-3.1.1.min.js')}}"></script>
            <script src="{{asset('vendor/js/bootstrap.min.js')}}"></script>
            <script src="{{asset('vendor/js/material.min.js')}}"></script>
            <script src="{{asset('vendor/js/ripples.min.js')}}"></script>
            <script src="{{asset('vendor/js/sweetalert2.min.js')}}"></script>
            <script src="{{asset('vendor/js/jquery.mCustomScrollbar.concat.min.js')}}"></script>
            <script src="{{asset('vendor/js/main.js')}}"></script>
            <script>
              $.material.init();
            </script>
        {% endblock %}
    </body>
</html>
