
<head>
    <link rel="stylesheet" href="{{ path ~ asset('vendor/bootstrap/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ path ~ asset('vendor/bootstrap/css/plantillaPdf.css')}}">
</head>


        <div class="card-body table-responsive p-0">
            
            
          <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Asistencia</th>
                   
                </tr>
            </thead>
            <tbody>
            {% for estudiante in pagination %}
                <tr>
                    <td>{{ estudiante.nombre }} <br></td>
                    <td> <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 form-group">
                        <div class="form-group">
                            <select id="asistencia-{{ estudiante.id }}" name="asistencia" class="form-control" onchange="obtenerAsistencia('{{ estudiante.id }}')">
                                    <option value="{{ estudiante.id }}-A" >Asistió</option>
                                    <option value="{{ estudiante.id }}-T" >Tarde</option>
                                    <option value="{{ estudiante.id }}-F">Falta</option>
                            </select>
                            </div>
                        </div>
                    <br>
                    </td>
                    
                    
                </tr>
            {% endfor %}
            </tbody>
          </table>
          </div>
          