{% extends 'base.html.twig' %}

{% block body %}
<div class="content-wrapper card"> {# para ponerlo a la par de la plantilla #}
  <div class="containers">
    <div class="row">
      <div class="col-12">
        <div class="bg-color p-3 mb-2 text-white" >
          <li class="nav-item" >
            <a class="nav-link" data-widget="pushmenu" href="#"><img src="{{asset('vendor/imagenes/menu.png')}}" title="menu" alt="new_user" class="ico"></a>
          </li>
          <center><h3 class="titulo">Asistencia </h3></center>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-4 col-xs-4 form-group">
        <div class="form-group">
        <label for="fecha">Fecha Inicio</label>
        <input type="date" id="fechinicio" name="fechainicio" class="form-control" placeholder="Fecha ...">

        <label for="fecha">Fecha Fin</label>
        <input type="date" id="fechafin" name="fechafin" class="form-control" placeholder="Fecha ...">

        <select class="form-control" id="curso" name="curso">
            <option>Elige un curso</option>
            <option value="Ingles">Ingles</option>
            <option value="Frances">Frances</option>
        </select>


        <button id="buscarasistencia" class="btn btn-info">Consultar</button>
					<br><br>
					<div id="enlace">
					</div>										 
				</div>
				<div id="asistenciadata">
					
				</div>

        </div>

        </div>

        <!-- /.card-header -->
 
        
           <!-- /.card-body -->
         </div>
         <!-- /.card -->
       </div>
     </div><!-- /.row -->
   </div><!-- /.container-fluid -->


</div> {# para ponerlo a la par de la plantilla #}
{% endblock %}