{% extends 'base.html.twig' %}

{% block body %}
   <div class="content-wrapper card"> {# para ponerlo a la par de la plantilla #}
<div class="containers">
           <div class=" p-3 mb-2 bg-color text-white" >
                     <li class="nav-item" >
      <a class="nav-link" data-widget="pushmenu" href="#"><img src="{{asset('vendor/imagenes/menu.png')}}" title="menu" alt="new_user" class="ico"></a>
    </li>
             <center><h3 class="titulo">Evaluaciones del grupo</h3></center>
             <div class="col-md-1  offset-md-11">
               <a href="{{ path('docente_new') }}"><img src="{{asset('vendor/imagenes/users-add-user-icon.png')}}" alt="new_user" class="iconew"></a>
             </div>
             </div>
           </div>
           <div class="card-body  table-responsive p-0">
             <table class=" table table-hover table-bordered">
               <thead>
                   <tr>
                     <th>Nombre</th>
                     <th>Ponderacion</th>
                     <th>Grupo</th>

                   </tr>
               </thead>
               <tbody>
                {% for evaluacions in pagination %}
                   <tr>
                       <td>{{ evaluacions.nombre }} </td>
                       <td>{{ evaluacions.ponderacion }} </td>
                       <td>{{ evaluacions.idGrupo }} </td>
                       <td>
                                <a href="{{ path('docente_show', { 'iddocente': evaluacions.id }) }}"> <img src="{{asset('vendor/imagenes/ver.ico')}}" alt="Ver" class="ico"></a>
                                <a href="{{ path('docente_edit', { 'iddocente': evaluacions.id }) }}"> <img src="{{asset('vendor/imagenes/edit.ico')}}" alt="Editar" class="ico"></a>
                       </td>
                   </tr>
                {% endfor %}
               </tbody>
             </table>
             <hr>
                <hr>
             <div class="navigation">
                  {{ knp_pagination_render(pagination) }}
             </div>
           </div>
     </div><!-- /.row -->
   </div><!-- /.container-fluid -->
{% endblock %}
