{% extends 'base.html.twig' %}

{% block stylesheets %}
    

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

<script type="text/javascript">
  var total=0

  function calcularTotal(){
    ponderacionAux=0;
    for (var i = 1; i < 11; i++) {
      ponderacion=document.getElementById(i).value
      if (ponderacion =="") {
        
    }else{
      
      ponderacionAux=parseInt(ponderacion)+ponderacionAux
    }
    }
    total=ponderacionAux   
    totalInput.value=total
    
  }
</script>

{% endblock %}

{% block body %}
   <div class="content-wrapper card"> {# para ponerlo a la par de la plantilla #}
<div class="containers">
           <div class=" p-3 mb-2 bg-color text-white" >
                     <li class="nav-item" >
      <a class="nav-link" data-widget="pushmenu" href="#"><img src="{{asset('vendor/imagenes/menu.png')}}" title="menu" alt="new_user" class="ico"></a>
    </li>
             <center><h3 class="titulo">Evaluaciones del grupo </h3></center>

             </div>
             {% if datosCorrectos == 3 %}
             <div class="alert alert-danger">
                <strong>Danger!</strong> El mes {{mes}} en el año {{anio}} ya tienen evaluaciones
            </div>
            {% endif %}
            {% if datosCorrectos == 2 %}
             <div class="alert alert-success alert-dismissible">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Success!</strong> Las evaluaciones fueron agregadas exitosamente en el mes {{mes}} del año{{anio}}
              </div>
            {% endif %}
             <form method ="POST">
           </div>

          
<div class="card-body">
                <div id="alerta"></div>
               <h3 class="card-title">Información de Evaluacion</h3>
               <br>
               <div class="row">
                 <div class="col-sm-3 col-md-4 col-lg-6">
                   <div class="input-group mb-3">
                     <div class="input-group-prepend">
                       <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                       <select id="mes" name="mes" required>
                          <option value="1">Enero</option> 
                          <option value="2">Febrero</option> 
                          <option value="3">Marzo</option>
                          <option value="4">Abril</option> 
                          <option value="5">Mayo</option> 
                          <option value="6">Junio</option>
                          <option value="7">Julio</option> 
                          <option value="8">Agosto</option>
                          <option value="9">Septiembre</option>
                          <option value="10">Octubre</option>
                          <option value="11">Noviembre</option>
                          <option value="12">Diciembre</option>
                        </select>
                       <input type="number" name="anio" class="form-control " required="true" id="anio" placeholder="Año" min="1000" max="4000">
                     </div>
    
                   </div>
                   </div>
                 
                          
                          <!--<input type="text" class="form-control" data-inputmask="'mask': ['9999-999999-999-9', '99999999-9' ]" data-mask placeholder="DUI, menor de edad NIT">-->
                        </div>
               </div>

           <div class="card-body  table-responsive p-0">
                      
                       
                   
             <table class=" table table-hover table-bordered">
               <thead>
                   <tr>
                     <th>Nombre</th>
                     <th>Ponderacion %</th>
                    

                   </tr>
               </thead>
               <tbody>
                   <tr>
                       <td><input type="text" name="1" class="form-control"></td>
                       <td><input id="1" type="number" name="11" value="" max="100" min="0" onchange="calcularTotal();" ></td>
                   </tr>
                   <tr>
                       <td><input type="text" name="2" class="form-control"></td>
                       <td><input id="2" type="number" name="12" value="" max="100" min="0" onchange="calcularTotal();"></td>
                   </tr>
                   <tr>
                       <td><input type="text" name="3" class="form-control"></td>
                       <td><input id="3"type="number" name="13" value="" max="100" min="0" onchange="calcularTotal();"></td>
                   </tr>
                   <tr>
                       <td><input type="text" name="4" class="form-control"></td>
                       <td><input id="4" type="number" name="14" value="" max="100" min="0" onchange="calcularTotal();" ></td>
                   </tr>
                   <tr>
                       <td><input type="text" name="5" class="form-control"></td>
                       <td><input id="5"type="number" name="15" value="" max="100" min="0" onchange="calcularTotal();" ></td>
                   </tr>
                   <tr>
                       <td><input type="text" name="6" class="form-control" ></td>
                       <td><input id="6" type="number" name="16" value="" max="100" min="0" onchange="calcularTotal();" ></td>
                   </tr>
                   <tr>
                       <td><input type="text" name="7" class="form-control"></td>
                       <td><input id="7"type="number" name="17" value="" max="100" min="0" onchange="calcularTotal();" ></td>
                   </tr>
                   <tr>
                       <td><input type="text" name="8" class="form-control"></td>
                       <td><input id="8"type="number" name="18" value="" max="100" min="0" onchange="calcularTotal();" ></td>
                   </tr>
                   <tr>
                       <td><input type="text" name="9" class="form-control"></td>
                       <td><input id="9" type="number" name="19" value="" max="100" min="0" onchange="calcularTotal();" ></td>
                   </tr>
                   <tr>
                       <td><input type="text" name="10" class="form-control"></td>
                       <td><input id="10"type="number" name="20" value="" max="100" min="0" onchange="calcularTotal();" ></td>
                   </tr>
               
                <tr>
                    <td >Total</td>
                    <td id="total"><input id="totalInput" type="number" max="100" min="100"  ></td>
                </tr>

                
               </tbody>
             </table>

             <hr>
             {#
             <div class="col-md-2 offset-md-8">
                  <button type="submit" class="btn btn-block btn-success fa fa-edit" name="guardar">&nbsp;Guardar</button>
                  <a href="{{ path('grupo_index') }} "  class="btn btn-block btn-danger fa fa-check ">&nbsp; Regresar</a>
              </div>
                <hr>
              #}
           </div>

           <div class="card-body">
            <div class="row justify-content-between">
              <div class="col-md-2 offset-md-7">
                <td>
                  <button type="submit" class="btn btn-block btn-primary fa fa-check" name="guardar">&nbsp; Guardar</button>
                </td>
              </div>
              <div class="col-md-2 ">
                <td>
                  <a href="{{ path('grupo_index') }}"><button type="button" class="btn btn-block btn-danger fa fa-close">&nbsp; Cancelar</button></a>
                </td>
              </div>
              
        
            </div>
          </div>


           </form>
     </div><!-- /.row -->
   </div><!-- /.container-fluid -->



{% endblock %}