{% extends 'principal.html.twig' %}

{% block body %}
	{{ parent() }}
	<div class="container">
		<nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
				<div class="container">
					<h1 class="text-center">Befluent - Bienvenido</h1>
					<h3 class="text-center">
						{% if app.user.role == 'ROLE_ADMIN' %}
								{{ 'Administrador'|trans }}
						{% elseif app.user.role == 'ROLE_USER' %}
								{{ 'Profesor'|trans }}
						{% elseif app.user.role == 'ROLE_RECEP' %}
    	{{ 'Recepcionista'|trans }}
						{% endif %}
							 :	{{ app.user.username }}
						</h3>
				</div>	

			<div class="col-xs-11 col-md-11"></div>
				<div class="col-xs-1 col-md-1">
					<a href="{{ path('academiainscripcion_logout') }}"><img src="{{asset('vendor/imagenes/logout.png')}}" alt="logout" title="logout" class="iconew"></a>
						<br>
						<br> 
             </div>
		</nav>

	</div>
	<div class="container">
		<div  class="full-box text-center" style="padding: 30px 10px;">
			{# solamente si el usuario logueado es un administrador mostrara todo lo que esta dentro del if#}
     		{% if is_granted('ROLE_ADMIN') %}
				<div class="col-md-3">
					<a href="{{path('grupo_index')}}">
						<article class="full-box tile">
						<div class="full-box tile-title text-center text-titles text-uppercase">Asistencia</div>
						<div class="full-box tile-icon text-center">
							<i class="fa fa-line-chart fa-8x"></i>
						</div>
						<div class="full-box tile-number text-titles">
							<p class="full-box"></p>
							<small></small>
						</div>
						</article>
					</a>
				</div>
				<div class="col-md-3">
					<a href="{{path('grupo_index')}}">
						<article class="full-box tile">
						<div class="full-box tile-title text-center text-titles text-uppercase">Grupos</div>
						<div class="full-box tile-icon text-center">
							<i class="fa fa-list-ul fa-10x"></i>
						</div>
						<div class="full-box tile-number text-titles">
							<p class="full-box">{{grupos}}</p>
							<small>Registrados</small>
						</div>
						</article>
					</a>
				</div>
				
				<div class="col-md-3">
					<a href="{{path('usuario_index')}}">
						<article class="full-box tile">
							<div class="full-box tile-title text-center text-titles text-uppercase">Usuarios</div>
							<div class="full-box tile-icon text-center">
								<i class="fa fa-slideshare fa-10x"></i>
							</div>
							<div class="full-box tile-number text-titles">
								<p class="full-box"> {{usuarios}}</p>
								{#<!--<p class="full-box">{{pagination.getTotalItemCount}}</p>-->#}
								<small>Registrados</small>
							</div>
						</article>
					</a>
				</div>
				
				<div class="col-md-3">
					<a href="{{path('estudiante_index')}}">
						<article class="full-box tile">
							<div class="full-box tile-title text-center text-titles text-uppercase">Estudiantes</div>
							<div class="full-box tile-icon text-center">
								<i class="fa fa-weixin fa-10x"></i>
							</div>
							<div class="full-box tile-number text-titles">
								<p class="full-box">{{numEst}}</p>
								<small>Registrados</small>
							</div>
						</article>
					</a>
				</div>
			{% endif %}
			
			{# solamente si el usuario logueado es un Docente mostrara todo lo que esta dentro del if#}
			 {% if is_granted('ROLE_USER') %}
			

			 <div class="col-md-4"></div>
				<div class="col-md-4">
						<a href="{{path('grupo_misgrupos')}}">
							<article class="full-box tile">
							<div class="full-box tile-title text-center text-titles text-uppercase">Grupos Asignados</div>
							<div class="full-box tile-icon text-center">
								<i class="fa fa-list-ul fa-10x"></i>
							</div>
							<div class="full-box tile-number text-titles">
								<p class="full-box">{{pagination.getTotalItemCount}}</p>
								<small>Registrados</small>
							</div>
							</article>
						</a>
				</div>
			</div>
			{% endif %}

			{# solamente si el usuario logueado es un Docente mostrara todo lo que esta dentro del if#}
     		{% if is_granted('ROLE_RECEP') %}

				<div class="col-md-3">
					<a href="{{path('estudiante_index')}}">
						<article class="full-box tile">
							<div class="full-box tile-title text-center text-titles text-uppercase">Inscripciones</div>
							<div class="full-box tile-icon text-center">
								<i class="fa fa-weixin fa-10x"></i>
							</div>
							<div class="full-box tile-number text-titles">
								<small>Nueva Inscripcion</small>
							</div>
						</article>
					</a>
				</div>
			{% endif %}
		</div>
</div>

{% endblock %}
