{% extends 'base.html.twig' %}

{% block stylesheets %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

{% endblock %}

{% block body %}
<div class="content-wrapper card"> {# para ponerlo a la par de la plantilla #}
<div class="containers">
    <div class="row">
       <div class="col-12">
           <div class="bg-color p-3 mb-2 text-white" >
              <li class="nav-item" >
              <a class="nav-link" data-widget="pushmenu" href="#"><img src="{{asset('vendor/imagenes/menu.png')}}" title="menu" alt="new_user" class="ico"></a>
              </li>
             <center><h3 class="titulo">Agregar notas al alumno {{idEstudiante.nombre}} en el grupo de {{grupoInscrito.tipo}} a las {{ grupoInscrito.horario|date('H:i') }}</h3></center>
              <center><h3 class="titulo">Notas del mes de {{mesNombre}} del año {{año}}</h3></center>
            </div>

            {% if totalEvaluaciones == 0 %}
                <div class="alert alert-danger"><strong> Este grupo de estudio no tiene evaluaciones en el mes {{mesNombre}} del año {{año}}</div>
                
            {% endif %}
            <form action="" method="POST">
            <div class="card-body">
              <div id="alerta"></div>
               <h3 class="card-title">Buscar por fecha</h3>
               <br>
               <div class="row">
                 <div class="col-sm-3 col-md-4 col-lg-6">
                   <div class="input-group mb-3">
                     <div class="input-group-prepend">
                       <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                       <select id="mes" name="mes" required class="js-user-rating" data-mes="{{mes}}" >
                          <option value="1">Enero</option> 
                          <option value="2">Febrero</option> 
                          <option value="3">Marzo</option>
                          <option value="4">Abril</option> 
                          <option value="5">Mayo</option> 
                          <option value="6">Junio</option>
                          <option value="7">Julio</option> 
                          <option value="8">Agosto</option>
                          <option value="9">Septiembre</option>
                          <option value="10">Octubre</option>
                          <option value="11">Noviembre</option>
                          <option value="12">Diciembre</option>
                        </select>
                       <input type="number" name="anio" class="form-control " required="true" id="anio" placeholder="Año" min="1000" max="4000" value="{{año}}">
                     </div>
                     {# div para el boton buscar #}
                     <div class="col-lg-offset-3">
                      <button type="submit" name="buscar" value="Buscar "class="btn btn-info  fa fa-search">&nbsp;Buscar</button>
                    </div>
    
                   </div>
                   </div>
                  </div>

                  <script type="text/javascript">
                    var userRating = document.querySelector('.js-user-rating');
                    var mesNum = userRating.dataset.mes;

                    document.getElementById("mes").value=mesNum;

                  </script>
                  {#
                  <div class="row">
                    <div class="col-sm-1 col-md-4 col-lg-6">

                       <div class="col-md-1 col-lg-4 ">
                       <input type="submit" name="buscar" value="Buscar" class="btn btn-block btn-info ">
                     </div>
                       
                     
    
                   
                   </div>
                  </div>
                  #}
               </div>

           <!-- /.card-header -->
           <div class="card-body table-responsive p-0">
            
             <table class="table table-hover table-bordered">
<thead>
                  <tr>
                    <th>Evaluaciones</th>
                    {% if totalEvaluaciones != 0 %}
                    {% if notasIngresadas != 0 and notasIngresadas <= totalEvaluaciones %}
                        {% for i in 0..tamañoNotas %}
                          {%for o in 0..tamañoEvaluaciones %}
                            {% if evaluaciones[o].id == notasAux[i].evaluacion.id %}
                              <th>{{evaluaciones[o].nombre}}</th>
                             
                            {% endif %}
                          {% endfor %}  
                        {% endfor %}
                        {% if notasIngresadas != totalEvaluaciones %}
                         {% for evsn in esn %}
                                  
                                        <th>{{evsn.nombre}}</th>  
                              {% endfor %}
                        {% endif %}
                       {% else %} 
                          {% if tamañoEvaluaciones > 0 and notasIngresadas < tamañoEvaluaciones%}
                          {% for i in 0..tamañoEvaluaciones %}
                            <th>{{evaluaciones[i].nombre}}</th> 
                          
                       
                        {% endfor %}
                        {% else %}
                            {% if totalEvaluaciones != 0 %}
                             {%for o in 0..tamañoEvaluaciones %}
                              <th>{{evaluaciones[o].nombre}}</th> 
                            
                          {% endfor %}  
                        {% endif %}
                        {% endif %}
                      {% endif %}
                    {% endif %}
                  </tr>
                   

               </thead>
               <tbody>
                <tr>
                       <th>Ponderaciones</th>
                       {% if totalEvaluaciones != 0 %}
                          {% if notasIngresadas != 0 and notasIngresadas <= totalEvaluaciones %}
                            {% for i in 0..tamañoNotas %}
                                {% for o in 0..tamañoEvaluaciones %}
                                  {% if evaluaciones[o].id == notasAux[i].evaluacion.id %}
                                    <th><input type="number"  class="form-control" step="0.01"  readonly="" value="{{notasAux[i].valor}}"></th>  
                                  {% endif %}
                                {% endfor %}  
                            {% endfor %}
                            {% if notasIngresadas != totalEvaluaciones %}
                
                              {% for evsn in esn %}
                                 <th><input type="number"  class="form-control" step="0.01"  name ="{{evsn.id}}" ></th>  
                              {% endfor %}
                            {% endif %}

                        {% else %} 
                          {% if tamañoEvaluaciones > 0 and notasIngresadas < tamañoEvaluaciones%}
                          {% for i in 0..tamañoEvaluaciones %}
                            
                              <th><input type="number"  class="form-control" step="0.01"  name ="{{evaluaciones[i].id}}" ></th>  
                          
                       
                        {% endfor %}
                        {% else %}
                             {% for o in 0..tamañoEvaluaciones %}
                              
                              <th><input type="number"  class="form-control" step="0.01" name ="{{evaluaciones[o].id}}" ></th>  
                          
                          {% endfor %}  

                        {% endif %}
                      {% endif %}
                    {% endif %}
                   </tr>
               </tbody>
             </table>

             </div>
             <br>
             <hr>
             {#
              <div class="row justify-content-between">
                <div class="col-md-2 offset-md-6">
                  <input type="submit" name="guardar" value="Guardar"  class="btn btn-block btn-success fa fa-check">
                </div>
                <div class="col-md-2">
                  <a href="{{ path('nota_modificar',{'id':id, 'idEstudiante':idEstudiante.id}) }}"><button type="button"class="btn btn-block btn-info fa fa-edit">Editar</button></a>
                </div>
              </div>
              #}

              {# div para colocar botones al final de la tabla o formulario  #}
              <div class="card-body">
                <div class="row justify-content-between">
                  <div class="col-md-2 offset-md-4">
                    <td>
                      <button type="submit" class="btn btn-block btn-primary fa fa-check" name="guardar">&nbsp; Guardar</button>
                    </td>
                  </div>
                  <div class="col-md-2 ">
                    <td>
                      <a href="{{ path('nota_modificar',{'id':id, 'idEstudiante':idEstudiante.id}) }}"><button type="button" class="btn btn-block btn-info fa fa-edit">&nbsp; Editar</button></a>
                    </td>
                  </div>
                  <div class="col-md-2 ">
                    <td>
                      <a href="{{ path('grupo_index') }}"><button type="button" class="btn btn-block btn-danger fa fa-close">&nbsp; Cancelar</button></a>
                    </td>
                  </div>
                </div>
              </div>
              {# fin del div #}

         </div>
             </form>
             
           <!-- /.card-body -->
         </div>
         <!-- /.card -->
       </div>
     </div><!-- /.row -->
   </div><!-- /.container-fluid -->


  </div> {# para ponerlo a la par de la plantilla #}
{% endblock %}