{% extends 'base.html.twig' %}

{% block stylesheets %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<!--
<script type="text/javascript">
  function generarReportePdf(id){
    $.ajax({
        url:"{{ path('nota_reportes') }}",
        type: 'POST',
        dataType:'JSON',
        data:{
              'id': id,
              'month':document.getElementById('mes').value,
              'year':document.getElementById('anio').value,
        },
    }).done(function(){
      console.log("reporte generado");
    }).fail(function(){
      console.log("error");
    }).always(function(){
      console.log("siempre");
    });
  
  }
  </script>

-->

{% endblock %}

{% block body %}
<div class="content-wrapper card"> {# para ponerlo a la par de la plantilla #}
<div class="containers">
    <div class="row">
        <input type="hidden" id="idgrupo" name="idgrupo" value="{{id}}"/>
       <div class="col-12">
           <div class="bg-color p-3 mb-2 text-white" >
                     <li class="nav-item" >
      <a class="nav-link" data-widget="pushmenu" href="#"><img src="{{asset('vendor/imagenes/menu.png')}}" title="menu" alt="new_user" class="ico"></a>
    </li>
             <center><h3 class="titulo"></h3></center>
            </div>

             {% if totalEvaluaciones == 0 %}
                <div class="alert alert-danger"><strong> Este grupo de estudio no tiene evaluaciones en el mes de {{mesNombre}} del año {{año}}</div>
                
            {% endif %}
            {% if notasIngresadas == 0 %}
                <div class="alert alert-danger"><strong> Este grupo de estudio no tiene Notas en el mes de {{mesNombre}} del año {{año}}</div>
                
            {% endif %}
             <form action="" method="POST">
            <div class="card-body">
              
              <div id="alerta"></div>
               <h3 class="card-title">Buscar por fecha</h3>
               <br>
               <div class="row">
                 <div class="col-sm-3 col-md-4 col-lg-6">
                   <div class="input-group mb-3">
                     <div class="input-group-prepend">
                       <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                       <select id="mes" name="mes" required class="js-user-rating" data-mes="{{mes}}" >
                          <option value="1">Enero</option> 
                          <option value="2">Febrero</option> 
                          <option value="3">Marzo</option>
                          <option value="4">Abril</option> 
                          <option value="5">Mayo</option> 
                          <option value="6">Junio</option>
                          <option value="7">Julio</option> 
                          <option value="8">Agosto</option>
                          <option value="9">Septiembre</option>
                          <option value="10">Octubre</option>
                          <option value="11">Noviembre</option>
                          <option value="12">Diciembre</option>
                        </select>
                       <input type="number" name="anio" class="form-control " required="true" id="anio" placeholder="Año" min="1000" max="4000" value="{{año}}">
                     </div>

                     {# div para el boton buscar #}
                     <div class="col-lg-offset-3">
                        <button type="submit" name="buscar" value="Buscar "class="btn btn-info btn-xs fa fa-search">&nbsp;Buscar</button>
                      </div>
    
                   </div>
                   </div>
                </div>
                 <script type="text/javascript">
                    var userRating = document.querySelector('.js-user-rating');
                    var mesNum = userRating.dataset.mes;

                    document.getElementById("mes").value=mesNum;

                  </script>

                  {#}
                 <div class="row">
                 <div class="col-sm-1 ">

                       <div class="col-md-1 col-lg-4 ">
                       <input type="submit" name="buscar" value="Buscar" class="btn btn-info btn-xs">
                     </div>
          
                   </div>
                  </div>
                  #}
               </div>
              </form>

           <!-- /.card-header -->
           <div class="card-body table-responsive p-0">
              {# boton para generar reportes, esto es una prueba
              <a class="btn btn-success fa fa-download" href="{{ path('nota_reportes', { 'id': id|default('default_id') }) }}" >&nbsp;generar reporte de notas</a>
                #}
              <form action="" method="POST"></form>

             {# 
             <table class="table table-hover table-bordered">
               <thead>
                  <tr>
                    <th>Alumnos</th>
                    <th>Notas</th>

                  </tr>
                </thead>
                <tbody>
                   {% if totalAlumnos > 0 %}
                      {% for i in 0..arregloAlumnos %}
                        <tr>
                        <th>{{estudiantes[i].nombre}}</th>
                        {% for o in 0..arregloECN %}
                          {% if notasIngresadas > 0  %}
                            {% if estudiantes[i].id == notasAux[o].estudiante.id %}
                              <th>{{ecn[o].nombre}}: {{notasAux[o].valor}} </th>
                          {% endif %}
                            
                          {% endif %}
                        {% endfor %}

                      {% endfor %}
                  {% endif %}
               </tbody>
             </table>
             #}

             <table class="table table-hover table-bordered">
              <thead>
                 <tr>
                   <th>Alumnos</th>
                   <th>Notas</th>
                 </tr>
               </thead>
               <tbody>
                 {% set prom = 0 %}
                 {% set sum = 0 %}
                  {% if totalAlumnos > 0 %}
                     {% for i in 0..arregloAlumnos %}
                       <tr>
                       <th>{{estudiantes[i].nombre}}</th>
                       {% for o in 0..arregloECN %}
                         {% if notasIngresadas > 0  %}
                           {% if estudiantes[i].id == notasAux[o].estudiante.id %}
                             <th>{{ecn[o].nombre}} = {{notasAux[o].valor}} </th>
                             {% set sum = (notasAux[o].valor) * (ecn[o].ponderacion / 100) %}
                             {% set prom = prom + sum %}
                         {% endif %}
                         {% endif %}
                       {% endfor %}
                       <th>Promedio = {{prom}}</th>
                        {% set prom = 0 %}
                        {% set sum = 0 %}
                     {% endfor %}
                 {% endif %}
              </tbody>
            </table>

             </div>
             <br>
             <hr>
             

             {# div para colocar botones al final de la tabla o formulario  #}
             <div class="card-body">
              <div class="row justify-content-between">
                <div class="col-md-2 offset-md-7">
                  <td>
                    <a class="btn btn-success fa fa-download" href="{{ path('nota_reportes', { 'id': id|default('default_id') }) }}" >&nbsp;generar PDF</a>
                  </td>
                </div>
                <div class="col-md-2 ">
                  <td>
                    <a href="{{ path('grupo_index') }}"><button type="button" class="btn btn-block btn-danger fa fa-close">&nbsp; Cancelar</button></a>
                  </td>
                </div>
              </div>
            </div>
            {# fin del div #}
             </form>
           <!-- /.card-body -->
         </div>
         <!-- /.card -->
       </div>
     </div><!-- /.row -->
   </div><!-- /.container-fluid -->


  </div> {# para ponerlo a la par de la plantilla #}
{% endblock %}
