<head>
        <link rel="stylesheet" href="{{ path ~ asset('vendor/bootstrap/css/bootstrap.min.css')}}">
        <link rel="stylesheet" href="{{ path ~ asset('vendor/bootstrap/css/plantillaPdf.css')}}">
</head>
<div class="card-body table-responsive">
     <table class="table table-hover table-bordered">
       <thead>
          <tr>
            <th>Alumnos</th>
            <th>Notas</th>

          </tr>
        </thead>
        <tbody>
           {% if totalAlumnos > 0 %}
              {% for i in 0..arregloAlumnos %}
                <tr>
                <th>{{estudiantes[i].nombre}}</th>
                {% for o in 0..arregloECN %}
                  {% if notasIngresadas > 0  %}
                    {% if estudiantes[i].id == notasAux[o].estudiante.id %}
                      <th>{{ecn[o].nombre}}: {{notasAux[o].valor}} </th>
                  {% endif %}
                    
                  {% endif %}
                {% endfor %}

              {% endfor %}
          {% endif %}
       </tbody>
     </table>

     </div>