{% extends 'base.html.twig' %}

{% block stylesheets %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript">

</script>

{% endblock %}

{% block body %}
<div class="content-wrapper card"> {# para ponerlo a la par de la plantilla #}
<div class="containers">
    <div class="row">
       <div class="col-12">
           <div class="bg-color p-3 mb-2 text-white" >
                     <li class="nav-item" >
      <a class="nav-link" data-widget="pushmenu" href="#"><img src="{{asset('vendor/imagenes/menu.png')}}" title="menu" alt="new_user" class="ico"></a>
    </li>
             <center><h3 class="titulo">Notas del alumno {{idEstudiante.nombre}} en el grupo de {{grupoInscrito.tipo}} a las {{ grupoInscrito.horario|date('H:i') }}</h3></center>
            </div>

            {% if tamañoEvaluaciones < 1 %}
                <div class="alert"> Este grupo de estudio no tiene evaluaciones</div>  

            {% endif %}

           <!-- /.card-header -->
           <div class="card-body table-responsive p-0">
            <form action="" method="POST">
             <table class="table table-hover table-bordered">
               <thead>
                  <tr>
                    <th>Evaluaciones</th>
                    {% if notasIngresadas != 0 and notasIngresadas <= totalEvaluaciones %}
                        {% for i in 0..tamañoNotas %}
                          {%for o in 0..tamañoEvaluaciones %}
                            {% if evaluaciones[o].id == notasAux[i].evaluacion.id %}
                              <th>{{evaluaciones[o].nombre}}</th>
                             
                            {% endif %}
                          {% endfor %}  
                        {% endfor %}
                        {% if notasIngresadas != totalEvaluaciones %}
                        {% for i in 0..tamañoNotas %}
                          {% for o in 0..tamañoEvaluaciones %}
                            {% if evaluaciones[o].id != notasAux[i].evaluacion.id %}
                            <th>{{evaluaciones[o].nombre}}</th>
                             
                              {% endif %}
                          {% endfor %}    
                        {% endfor %}
                        {% endif %}
                       {% else %} 
                          {% if tamañoEvaluaciones > 0 and notasIngresadas < tamañoEvaluaciones%}
                          {% for i in 0..tamañoEvaluaciones %}
                            <th>{{evaluaciones[i].nombre}}</th> 
                          
                       
                        {% endfor %}
                        

                        {% endif %}
                      {% endif %}
                  </tr>
                   

               </thead>
               <tbody>
                <tr>
                       <th>Ponderaciones</th>
                       {% if notasIngresadas != 0 and notasIngresadas <= totalEvaluaciones %}
                        {% for i in 0..tamañoNotas %}
                          {%for o in 0..tamañoEvaluaciones %}
                            {% if evaluaciones[o].id == notasAux[i].evaluacion.id %}
                             
                              <th>{{notasAux[i].valor}}</th>  
                            {% endif %}
                          {% endfor %}  
                        {% endfor %}
                        {% if notasIngresadas != totalEvaluaciones %}
                        {% for i in 0..tamañoNotas %}
                          {% for o in 0..tamañoEvaluaciones %}
                            {% if evaluaciones[o].id != notasAux[i].evaluacion.id %}
                        
                              <th></th>  
                              {% endif %}
                          {% endfor %}    
                        {% endfor %}
                        {% endif %}
                       {% else %} 
                          {% if tamañoEvaluaciones > 0 and notasIngresadas < tamañoEvaluaciones%}
                          {% for i in 0..tamañoEvaluaciones %}
                            
                              <th></th>  
                          
                       
                        {% endfor %}
                        {% else %}
                             {%for o in 0..tamañoEvaluaciones %}
                            
                              <th>{{notasAux[o].valor}}</th>  
                          
                          {% endfor %}  

                        {% endif %}
                      {% endif %}
                   </tr>
               </tbody>
             </table>

             </div>
             <br>
             <hr>
             <button class="btn btn-block btn-info fa fa-danger" name="regresar"> Regresar</button>
             </form>
           <!-- /.card-body -->
         </div>
         <!-- /.card -->
       </div>
     </div><!-- /.row -->
   </div><!-- /.container-fluid -->


  </div> {# para ponerlo a la par de la plantilla #}
{% endblock %}