{% extends 'base.html.twig' %}

{# aqui modificaremos el contenido #}
{% block body %}
<div class="content-wrapper card background-style"> {# para ponerlo a la par de la plantilla #}
<div class="containers">
      <div class=" p-3 mb-2 bg-color text-white ">
                 <li class="nav-item" >
      <a class="nav-link" data-widget="pushmenu" href="#"><img src="{{asset('vendor/imagenes/menu.png')}}" title="menu" alt="new_user" class="ico"></a>
    </li>
      <center><h3 class="titulo"><strong>Edición de Docente</strong></h3></center>
    </div>
    <div class="card-body">
      {{form_start(edit_form, { 'attr' : {'role' : 'form' }})}}
               <h3 class="card-title"><strong>Información Personal</strong> </h3>
               <br>

               <div class="row">
                  <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-id-card"></i></span>
                      </div>
                      {{ form_widget(edit_form.nombre, { 'attr' : {'type' : 'text','onkeypress' : 'return soloLetras(event)', 'class': 'form-control', 'placeholder' : 'Nombre Completo', 'onpaste' : 'return false'}})}}
                      <!--, 'disabled':''-->
                    </div>
                   </div>
               </div>
               <div class="row">
                 <div class="col-sm-6 col-md-6 col-lg-6">
                   <div class="input-group mb-3">
                     <div class="input-group-prepend">
                       <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                     </div>
                       {{ form_widget(edit_form.edad, { 'attr' : {'type':'number', 'class':'form-control', 'onkeypress':'return isNumberKey(event)', 'placeholder':'Edad', 'onpaste' :'return false', 'min':'18', 'max':'100', 'onpaste' : 'return false'}})}}
                   </div>
                   </div>
                   <div class="col-sm-6 col-md-6 col-lg-6">
                     <div class="input-group mb-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-address-card-o"></i></span>
                          </div>
                          {{ form_widget(edit_form.dui, { 'attr' : {'type' : 'text','data-inputmask' : "'mask' : '99999999-9'",'data-mask':'', 'class': 'form-control', 'placeholder' : 'DUI', 'onpaste' : 'return false'}})}}
                        </div>
                 </div>
               </div>
                   <div class="row">
                      <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="input-group mb-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                          </div>
                          {{ form_widget(edit_form.email, { 'attr' : {'type' : 'email', 'class': 'form-control', 'placeholder' : 'Email'}})}}
                        </div>
                      </div>
                      <div class="col-sm-6  col-md-6 col-lg-6">
                        <div class="input-group mb-3">
                             <div class="input-group-prepend">
                               <span class="input-group-text"><i class="fa fa-phone"></i></span>
                             </div>
                             {{ form_widget(edit_form.telefono, { 'attr' : {'type' : 'text','data-inputmask' :"'mask': ['99999999','9999-9999', '(+999) 9999-9999']", 'data-mask' : '', 'class': 'form-control', 'placeholder' : 'Telefono (agregar extencion antepone un +)', 'onpaste' : 'return false'}})}}
                           </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
<div class="content-wrapper card background-style  ">
  <div class="containers">
      <div class="card-body">
        <h3 class="card-title"><strong>Especialización</strong></h3>
        <br>
        <div class="row">
           <div class="col-sm-12 col-md-12 col-lg-12">
             <div class="input-group mb-3">
               <div class="input-group-prepend">
                 <span class="input-group-text"><i class="fa fa-id-card"></i></span>
               </div>
               {{ form_widget(edit_form.especializacion, { 'attr' : {'type' : 'text','onkeypress' : 'return soloLetras(event)', 'class': 'form-control', 'placeholder' : 'Especialización', 'onpaste' : 'return false'}})}}
              <!-- text input <input type="text" onkeypress="return soloLetras(event)" onpaste="return false" class="form-control" placeholder="Nombres">-->
             </div>
             <br>
             <hr>
            </div>
        </div>
          <div class="row justify-content-between ">
              <div class="col-md-2 offset-md-6">
                  <button type="submit" class="btn btn-block btn-primary fa fa-check">&nbsp; Aceptar</button>
                  <br>
              </div>
              <div class="col-md-1 col-lg-2 ">
                  <a href="{{ path('docente_show',{ 'iddocente': docente.iddocente }) }}"><button type="button" class="btn btn-block btn-info fa fa-eye">&nbsp; Ver Cambios</button></a>
                <br>
              </div>
              <div class="col-md-1 col-lg-2 ">
                  <a href="{{ path('docente_index') }}"><button type="button" class="btn btn-block btn-danger fa fa-close">&nbsp; Cancelar</button></a>
                  <br>
              </div>
              {{form_end(edit_form)}}
          </div>
         </div>
       </div>
  </div>

{% endblock %}