{% extends 'base.html.twig' %}

{% block body %}
<div class="content-wrapper card"> {# para ponerlo a la par de la plantilla #}
<div class="containers">
      <div class="p-3 mb-2 bg-color text-white">
                 <li class="nav-item" >
      <a class="nav-link" data-widget="pushmenu" href="#"><img src="{{asset('vendor/imagenes/menu.png')}}" title="menu" alt="new_user" class="ico"></a>
    </li>
      <center><h1 class="titulo">Nuevo Docente</h1></center>
    </div>
    <div class="card-body">
      {{form_start(form, { 'attr' : {'role' : 'form' }})}}
               <h3 class="card-title">Información Personal</h3>
               <br>
               <div class="row">
                  <div class="col-sm-3 col-md-6 col-lg-12">
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-id-card"></i></span>
                      </div>
                      {{ form_widget(form.nombre, { 'attr' : {'type' : 'text','onkeypress' : 'return soloLetras(event)', 'class': 'form-control', 'placeholder' : 'Nombre Completo', 'onpaste' : 'return false','required':'true'}})}}
                     <!-- text input <input type="text" onkeypress="return soloLetras(event)" onpaste="return false" class="form-control" placeholder="Nombres">-->
                    </div>
                   </div>
               </div>
               <div class="row">
                 <div class="col-sm-3 col-md-4 col-lg-6">
                   <div class="input-group mb-3">
                     <div class="input-group-prepend">
                       <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                     </div>
                       {{ form_widget(form.edad, { 'attr' : {'type':'number', 'class':'form-control', 'onkeypress':'return isNumberKey(event)', 'placeholder':'Edad', 'onpaste' :'return false', 'min':'18', 'max':'100', 'onpaste' : 'return false'}})}}
                   </div>
                   </div>
                   <div class="col-sm-3 col-md-4 col-lg-6">
                     <div class="input-group mb-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-address-card-o"></i></span>
                          </div>
                          {{ form_widget(form.dui, { 'attr' : {'type' : 'text','data-inputmask' : "'mask' : ['99999999-9']",'data-mask':'', 'class': 'form-control', 'placeholder' : 'DUI', 'onpaste' : 'return false'}})}}
                          <!--<input type="text" class="form-control" data-inputmask="'mask': ['9999-999999-999-9', '99999999-9' ]" data-mask placeholder="DUI, menor de edad NIT">-->
                        </div>
                 </div>
               </div>
       <div class="row">
          <div class="col-sm-3 col-md-4 col-lg-6">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-envelope"></i></span>
              </div>
              {{ form_widget(form.email, { 'attr' : {'type' : 'email', 'class': 'form-control', 'placeholder' : 'Email'}})}}
              <!--<input type="email" class="form-control" placeholder="Email">-->
            </div>
          </div>
          <div class="col-sm-3  col-md-4 col-lg-6">
            <div class="input-group mb-3">
                 <div class="input-group-prepend">
                   <span class="input-group-text"><i class="fa fa-phone"></i></span>
                 </div>
                 {{ form_widget(form.telefono, { 'attr' : {'type' : 'text','data-inputmask' :"'mask': ['99999999', '9999-9999', '(+999) 9999-9999']", 'data-mask' : '', 'class': 'form-control', 'placeholder' : 'Telefono (agregar extencion antepone un +)', 'onpaste' : 'return false'}})}}
                 <!--<input type="text" class="form-control"  data-inputmask="'mask': [ '(+999) 9999-9999','9999-9999']" data-mask placeholder="Numero de contacto">-->
               </div>
          </div>
        </div>
  </div>
</div>
</div>
<div class="content-wrapper card">
  <div class="containers">
      <div class="card-body">
        <h3 class="card-title">Especialización</h3>
        <br>
        <div class="row">
           <div class="col-sm-3 col-md-6 col-lg-12">
             <div class="input-group mb-3">
               <div class="input-group-prepend">
                 <span class="input-group-text"><i class="fa fa-id-card"></i></span>
               </div>
               {{ form_widget(form.especializacion, { 'attr' : {'type' : 'text','onkeypress' : 'return soloLetras(event)', 'class': 'form-control', 'placeholder' : 'Especialización', 'onpaste' : 'return false'}})}}
              <!-- text input <input type="text" onkeypress="return soloLetras(event)" onpaste="return false" class="form-control" placeholder="Nombres">-->
             </div>
            </div>
        </div>
        <hr>
        <br>
          <div class="row justify-content-between">

              <div class="col-md-2 offset-md-8">
                  <button type="submit" class="btn btn-block btn-success fa fa-check">&nbsp;Acceptar</button>
              </div>
              <div class="col-lg-2 ">
                  <a href="{{ path('docente_index') }}"><button type="button" class="btn btn-block btn-danger fa fa-close">&nbsp;Regresar</button></a>
              </div>
              {{form_end(form)}}

          </div>
         </div>
    </div>
  </div>
{% endblock %}
