{% extends 'base.html.twig' %}

{% block body %}
<div class="content-wrapper card"> {# para ponerlo a la par de la plantilla #}
<div class="containers">
  <div class="p-3 mb-2 bg-color text-white">
           <li class="nav-item" >
      <a class="nav-link" data-widget="pushmenu" href="#"><img src="{{asset('vendor/imagenes/menu.png')}}" title="menu" alt="new_user" class="ico"></a>
    </li>
    <h1 class="text-center">Docente</h1>
  </div>
    <ul class="list-group">
      <li class="list-group-item p-3 mb-2 bg-info text-white"> <b> INFORMACION DEL DOCENTE</b></li>
  <li class="list-group-item">&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>NOMBRE:</b>        &nbsp;&nbsp;{{ docente.nombre }}</li>
    <li class="list-group-item">&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>EDAD:</b> &nbsp;&nbsp;&nbsp;{{ docente.edad }} años</li>
    <li class="list-group-item">&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>DUI:</b> &nbsp;&nbsp;{{ docente.dui }}</li>
  <li class="list-group-item">&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>TEL:</b> &nbsp;&nbsp;{{ docente.telefono }}</li>
  <li class="list-group-item">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>CORREO:</b> &nbsp;&nbsp;{{ docente.email }}</li>
  <li class="list-group-item">&nbsp;&nbsp;<b>ESPECIALIZACION:</b> &nbsp;&nbsp;{{ docente.especializacion }}</li>

</ul>
<div class="row justify-content-between">
    <div class="col-md-2 offset-md-6">
      <td>
        <br><br><br><br>
        <a href="{{ path('docente_index') }}"><button type="submit" class="btn btn-block btn-success fa fa-check">&nbsp; Aceptar</button></a>
      </td>
    </div>
    <div class="col-md-2 ">
      <td>
        <br><br><br><br>
      <a href="{{ path('docente_edit', { 'iddocente': docente.iddocente }) }} "  class="btn btn-block btn-info fa fa-edit">&nbsp; Editar</a>
    </td>
    </div>
    <div class="col-lg-2">
      <br><br><br><br>
      {{ form_start(delete_form) }}
          <button type="submit" class="btn btn-block btn-danger fa fa-close">&nbsp; Eliminar</button>
      {{ form_end(delete_form) }}
    </div>
  </div>
  <br>
  </div>
</div>
{% endblock %}